<p id="notice"><%= notice %></p>

<p>
  <strong>Short Name:</strong>
  <%= @evaluation_type.short_name %>
</p>

<p>
  <strong>Full Name:</strong>
  <%= @evaluation_type.full_name %>
</p>

<%= link_to 'Edit', edit_evaluation_type_path(@evaluation_type) %> |
<%= link_to 'Back', evaluation_types_path %>
