<h1>Listing schedule_activities</h1>

<table>
  <thead>
    <tr>
      <th>Professor</th>
      <th>Subject</th>
      <th>Group</th>
      <th>Local</th>
      <th>Docent day</th>
      <th>Turn</th>
      <th>Turn type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedule_activities.each do |schedule_activity| %>
      <tr>
        <td><%= schedule_activity.professor_id %></td>
        <td><%= schedule_activity.subject_id %></td>
        <td><%= schedule_activity.group_id %></td>
        <td><%= schedule_activity.local_id %></td>
        <td><%= schedule_activity.docent_day_id %></td>
        <td><%= schedule_activity.turn_id %></td>
        <td><%= schedule_activity.turn_type_id %></td>
        <td><%= link_to 'Show', schedule_activity %></td>
        <td><%= link_to 'Edit', edit_schedule_activity_path(schedule_activity) %></td>
        <td><%= link_to 'Destroy', schedule_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_schedule_activity_path %>
