<p id="notice"><%= notice %></p>

<p>
  <strong>Professor:</strong>
  <%= @schedule_activity.professor_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @schedule_activity.subject_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @schedule_activity.group_id %>
</p>

<p>
  <strong>Local:</strong>
  <%= @schedule_activity.local_id %>
</p>

<p>
  <strong>Docent day:</strong>
  <%= @schedule_activity.docent_day_id %>
</p>

<p>
  <strong>Turn:</strong>
  <%= @schedule_activity.turn_id %>
</p>

<p>
  <strong>Turn type:</strong>
  <%= @schedule_activity.turn_type_id %>
</p>

<%= link_to 'Edit', edit_schedule_activity_path(@schedule_activity) %> |
<%= link_to 'Back', schedule_activities_path %>
