<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dynamic_news.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dynamic_news.description %>
</p>

<%= link_to 'Edit', edit_dynamic_news_path(@dynamic_news) %> |
<%= link_to 'Back', dynamic_news_path %>
