<h2>Editar usuario</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label t('helpers.label.user.username') %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :faculty %><br />
  <%= f.select :faculty, Faculty.all.collect { |f| [ f.name, f.id ] }, include_blank: true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label t('helpers.label.user.password') %> <i>(déjelo en blanco si no la quiere cambiar)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label t('helpers.label.user.password_confirmation') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label t('helpers.label.user.current_password') %> <i>(necesitamos su contraseña actual para confirmar sus cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "Actualizar" %></div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>No está satisfecho? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Está seguro?" }, method: :delete %></p>

<%= link_to "Atrás", :back %>
