<h2>Crearse una cuenta</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label t('helpers.label.user.username') %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :faculty_id %> <i>(en caso que proceda)</i><br />
  <%= f.select :faculty_id, Faculty.all.collect { |f| [ f.name, f.id ] }, include_blank: true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label t('helpers.label.user.password') %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label t('helpers.label.user.password_confirmation') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Crearse una cuenta" %></div>
<% end %>

<%= render "devise/shared/links" %>
