<%= form_for(@schedule_professor) do |f| %>
  <% if @schedule_professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule_professor.errors.count, "error") %> prohibited this schedule_professor from being saved:</h2>

      <ul>
      <% @schedule_professor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :scientific_degree_id %><br>
    <%= f.number_field :scientific_degree_id %>
  </div>
  <div class="field">
    <%= f.label :docent_category_id %><br>
    <%= f.number_field :docent_category_id %>
  </div>
  <div class="field">
    <%= f.label :faculty_id %><br>
    <%= f.number_field :faculty_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
