<p id="notice"><%= notice %></p>

<p>
  <strong>Short name:</strong>
  <%= @faculty.short_name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @faculty.full_name %>
</p>

<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
