<%= form_for @docent_category, :html => { :class => "form-horizontal docent_category" } do |f| %>

    <% if @docent_category.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@docent_category.errors.count, "error") %> prohibited this docent_category from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @docent_category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :short_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :short_name, :class => 'form-control' %>
    </div>
    <%= error_span(@docent_category[:short_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :full_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :full_name, :class => 'form-control' %>
    </div>
    <%= error_span(@docent_category[:full_name]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            schedule_docent_categories_path, :class => 'btn btn-default' %>

<% end %>
