<%= form_for @career, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :short_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :short_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :full_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :full_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :faculty_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :faculty_id, options_from_collection_for_select(Faculty.all, :id, :name, @career.faculty_id), prompt: t(:select_faculty) ,:class => '' %>
    </div>
  </div>
    <div class="control-group">
      <%= f.label :study_modality_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :study_modality_id, options_from_collection_for_select(StudyModality.all, :id, :full_name, @career.study_modality_id), prompt: t(:select_study_modality) ,:class => '' %>
      </div>
    </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                careers_path, :class => 'btn' %>
  </div>
<% end %>
