<%= form_for(@schedule_group) do |f| %>
  <% if @schedule_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule_group.errors.count, "error") %> prohibited this schedule_group from being saved:</h2>

      <ul>
      <% @schedule_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br>
    <%= f.number_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :year_id %><br>
    <%= f.number_field :year_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
