<h3>Metodólogos</h3>
<hr/>
<div class="row">
  <div class="col-md-6">
  	<%= render 'card', name: 'DrC. Olga Perez Soto', photo: 'olga.png', items: ['Alumnos Ayudantes', 'Plan de Trabajo Metodológico', 'Medios Básicos', 'Ubicación Laboral', 'APA', 'Carta de Disponibilidad'] %>
  </div>
  <div class="col-md-6">
  	<%= render 'card', name: 'DrC. Rita Roldan Inguanzo', photo: 'rita.png', items: ['Proceso de Acreditación', 'Gestión del Plan de Estudio', 'Procesamiento de Encuestas',' Intranet DDM', 'SIGENU (Asesoramiento)', 'Indicadores de Promoción'] %>
  </div>  
</div>
<div class="row">
  <div class="col-md-6">
  	<%= render 'card', name: 'DrC. Leonor Amaro Cano', photo: 'leonor.png', items: ['Plan de Trabajo Metodológico','Comisión Nacional de Carrera / Colectivo de Carrera', 'Sistema Integrado de Medios', 'Unidades Docentes'] %>
  </div>
  <div class="col-md-6">
  	<%= render 'card', name: 'MSc. Kenia Sebasco Rodríguez', photo: 'kenia.png', items: ['Literatura Docente', 'Plan Bibliográfico', 'Plan de Publicaciones', 'Sistema Integrado de Medios'] %>
  </div>  
</div>
<div class="row">
  <div class="col-md-6">
  	<%= render 'card', name: 'MSc. Javier López Fernández', photo: 'javier.png', items: ['Electivas UH', 'Opt. SEDER', 'Opt. PPD', 'Proceso Acreditación', 'Acreditación y CES Homólogos'] %>
  </div>
</div>

<h3>Especialistas</h3>
<hr/>
<div class="row">
  <div class="col-md-6">
  	<%= render 'card', name: 'Lic. Yaima Jiménez Guerra', photo: 'yaima.png', items: ['Dictámenes y Resoluciones', 'Ubicación Laboral', 'Encuestas', 'Estrategia de Orientación Vocacional', 'Unidades Docentes', 'Comisión Nacional de Carrera / Colectivo de Carrera', 'Gráfico Docente y Horarios', 'Plan de Trabajo', 'Carpetas Digitales de Objetivo de Trabajo'] %>
  </div>
  <div class="col-md-6">
  	<%= render 'card', name: 'MSc. Diley Arredondo Fabricio', photo: 'diley.png', items: ['Alumnos Ayudantes', 'Dictámenes y Resoluciones', 'Comisión Nacional de Carrera / Colectivo de Carrera', 'Sistema Integrado de Medios', 'Ubicación Laboral', 'Medios Básicos', 'Recursos Humanos', 'Control Interno', 'APA', 'Carta de Disponibilidad'] %>
  </div>  
</div>
<div class="row">
  <div class="col-md-6">
  	<%= render 'card', name: 'Lic. Ailin Cedeño Gonzalez', photo: 'ailin.JPG', items: ['Acreditación', 'Plan Bibliográfico', 'Plan Publicaciones', 'APA', 'Medios Básicos', 'Recursos Humanos', 'Carta de Disponibilidad', 'Pauta y Demanda de libros en ATM'] %>
  </div>
</div>

<h3>Adiestrados</h3>
<hr/>
<div class="row">
  <div class="col-md-6">
  	<%= render 'card', name: 'Lic. Amanda Rodríguez Martínez', photo: 'amanda.png', items: ['SIGENU', 'Intranet', 'Procesamiento Encuestas', 'Diagrama de Flujo VRD / DDM', 'Asesoramiento Sistemas Informáticos', 'Alumnos Ayudantes', 'Promoción', 'Recursos Humanos', 'APA', 'Pauta y Distribución'] %>
  </div>
  <div class="col-md-6">
  	<%= render 'card', name: 'Lic. Adrian Chang Alcover', photo: 'adrian.png', items: ['Intranet', 'Procesamiento de Encuestas', 'Tabla de Trabajo Metodológico', 'Promoción', 'Sistema Integrado de Medios', 'Aseguramiento Bibliográfico y Textos no Disponibles', 'Medios Básicos'] %>
  </div>  
</div>
<div class="row">
  <div class="col-md-6">
  	<%= render 'card', name: 'Lic. Yadira Diaz Vizcaíno', photo: 'yadira.png', items: ['Est. Marxismo UH', 'PPD', 'Acreditación', 'F. Educativo'] %>
  </div>
  <div class="col-md-6">
  	<%= render 'card', name: 'Lic. Ivan Santana Diaz', photo: 'ivan.png', items: ['Estrategia de Orientación Vocacional', 'Ubicación Laboral', 'Proceso Educativo'] %>
  </div>  
</div>