<div class="row">
  <div class="col-sm-3"><a href='repo/home/organigrama.jpg'><h4>Organigrama</h4></a></div>
  <div class="col-sm-3"><a href='repo/home/Quienes somos.pdf'><h4>Quiénes somos?</h4></a></div>
  <div class="col-sm-3"><a href='repo/home/Mision y Vision.pdf'><h4>Misión y Visión</h4></a></div>
  <div class="col-sm-3"><a href='repo/home/tutorial.pdf'><h4>Cómo me creo una cuenta?</h4></a></div>
</div>  

<h3>Metodólogos</h3>
<hr/>
<div class="row">
  <div class="col-md-6">
  	<%= render 'card', name: 'DrC. Olga Perez Soto', curriculum: 'repo/Curriculum/DrC. Olga Perez Soto.pdf', photo: 'olga.png', items: ['Especialidad: Economía', 'Categoría Docente: Profesor Titular', 'Grado Científico: Doctor en Ciencias Económicas', 'Años de Experiencia: 30'] %>
  </div>
  <div class="col-md-6">
    <%= render 'card', name: 'DrC. Leonor Amaro Cano', curriculum: 'repo/Curriculum/DrC. Leonor Amaro Cano.pdf', photo: 'leonor.png', items: ['Especialidad: Historia', 'Categoría Docente: Profesor Titular Consultante', 'Grado Científico: Doctor en Ciencias Históricas', 'Años de Experiencia: 46'] %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render 'card', name: 'DrC. Rita Roldan Inguanzo', curriculum: '', photo: 'rita.png', items: ['Especialidad: Matemática', 'Categoría Docente: Profesor Titular', 'Grado Científico: Doctor en Ciencias Matemáticas', 'Años de Experiencia: 29'] %>
  </div>  
</div>

<h3>Especialistas</h3>
<hr/>
<div class="row">
  <div class="col-md-6">
  	<%= render 'card', name: 'MSc. Diley Arredondo Fabricio', curriculum: 'repo/Curriculum/MSc. Diley Arredondo Fabricio.pdf', photo: 'diley.PNG', items: ['Especialidad: Industrial', 'Grado Académico: Master en Administración de Negocios', 'Años de Experiencia: 28'] %>
  </div>  
  <div class="col-md-6">
    <%= render 'card', name: 'Lic. Ailin Cedeño Gonzalez', curriculum: '', photo: 'ailin.JPG', items: ['Especialidad: Psicología', 'Nivel Profesional: Licenciado', 'Años de Experiencia: 10'] %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render 'card', name: 'Lic. Amanda Rodríguez Martínez', curriculum: '', photo: 'amanda.png', items: ['Especialidad: Informático', 'Nivel Profesional: Ingeniero', 'Años de Experiencia: 3'] %>
  </div>  
</div>

<h3>Adiestrados</h3>
<hr/>
<div class="row">
  <div class="col-md-6">
  	<%= render 'card', name: 'Lic. Adrian Chang Alcover', curriculum: '', photo: 'adrian.png', items: ['Especialidad: Ciencia de la Computación', 'Nivel Profesional: Licenciado', 'Años de Experiencia: 1'] %>
  </div>  
  <div class="col-md-6">
    <%= render 'card', name: 'Lic. Ivan Santana Diaz', curriculum: '', photo: 'ivan.png', items: ['Especialidad: Psicología', 'Nivel Profesional: Licenciado'] %>
  </div>  
</div>