<%= form_for @subject, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :short_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :short_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :full_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :full_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :discipline_id, :class => 'control-label' %>
    <div class="controls">
      <%= if @subject.discipline
            f.select :discipline_id, options_from_collection_for_select(@subject.career.disciplines, :id, :name), prompt: t(:select_discipline), :class => ''
          else
            f.select :discipline_id, options_from_collection_for_select(Discipline.all, :id, :pretty_name_with_career), prompt: t(:select_discipline), :class => ''
          end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :semester_id, :class => 'control-label' %>
    <div class="controls">
      <%= if @subject.discipline
            f.select :semester_id, options_from_collection_for_select(@subject.career.semesters, :id, :pretty_name_with_year_and_career), prompt: t(:select_semester), :class => ''
          else
            f.select :semester_id, options_from_collection_for_select(Semester.all, :id, :pretty_name_with_year_and_career), prompt: t(:select_semester), :class => ''
          end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :class_hours, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :class_hours, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :practical_hours, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :practical_hours, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :evaluation_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :evaluation_type_id, options_from_collection_for_select(EvaluationType.all, :id, :name), prompt: t(:select_evaluation_type), :class => '' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :curriculum_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :curriculum_type_id, options_from_collection_for_select(CurriculumType.all, :id, :name), prompt: t(:select_curriculum_type), :class => '' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dictum_or_resoluteness, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :curriculum_type_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                subjects_path, :class => 'btn' %>
  </div>
<% end %>
