<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :short_name %><br>
    <%= f.text_field :short_name %>
  </div>
  <div class="field">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :discipline_id %><br>
    <%= f.select :discipline_id, Discipline.all.collect{|d|[d.name, d.id]} %>
  </div>
  <div class="field">
    <%= f.label :semester_id %><br>
    <%= f.select :semester_id, Semester.all.collect{|s|[s.name,s.id]} %>
  </div>
  <div class="field">
    <%= f.label :class_hours %><br>
    <%= f.number_field :class_hours %>
  </div>
  <div class="field">
    <%= f.label :practical_hours %><br>
    <%= f.number_field :practical_hours %>
  </div>
  <div class="field">
    <%= f.label :evaluation_type_id %><br>
    <%= f.select :evaluation_type_id, EvaluationType.all.collect{|et|[et.name, et.id]} %>
  </div>
  <div class="field">
    <%= f.label :curriculum_type_id %><br>
    <%= f.select :curriculum_type_id, CurriculumType.all.collect{|ct|[ct.name, ct.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
