<h1>Listing subjects</h1>

<table>
  <thead>
    <tr>
      <th>Short name</th>
      <th>Full name</th>
      <th>Discipline</th>
      <th>Semester</th>
      <th>Year</th>
      <th>Class Hours</th>
      <th>Practical Hours</th>
      <th>Evaluation type</th>
      <th>Curriculum type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.short_name %></td>
        <td><%= subject.full_name %></td>
        <td><%= subject.discipline.name %></td>
        <td><%= subject.semester.name %></td>
        <td><%= subject.semester.year.name %></td>
        <td><%= subject.class_hours %></td>
        <td><%= subject.practical_hours %></td>
        <td><%= subject.evaluation_type.name if subject.evaluation_type %></td>
        <td><%= subject.curriculum_type.name %></td>
        <td><%= link_to 'Show', subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>
