<p id="notice"><%= notice %></p>

<p>
  <strong>Short name:</strong>
  <%= @subject.short_name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @subject.full_name %>
</p>

<p>
  <strong>Discipline:</strong>
  <%= @subject.discipline.name %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @subject.semester.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @subject.semester.year.name %>
</p>

<p>
  <strong>Class Hours:</strong>
  <%= @subject.class_hours %>
</p>

<p>
  <strong>Practical Hours:</strong>
  <%= @subject.practical_hours %>
</p>

<p>
  <strong>Evaluation type:</strong>
  <%= @subject.evaluation_type.name %>
</p>

<p>
  <strong>Curriculum type:</strong>
  <%= @subject.curriculum_type.name %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
