<% @career.years.each do |year| %>
  <h3><%= year.pretty_name.titleize %></h3>
  <div class="row" style="margin-left: 0px">
    <% year.semesters.each do |semester| %>
      <% unless semester.name_slug == 'anual' %>
        <div class="col-md-<%= 12/year.semesters.to_a.count{|s| not s.anual?} %>">
        <table class="table table-bordered table-condensed ppd">
          <thead>
            <tr><td class="separator" colspan="4">
              <%= if can?(:update, :semesters)
                link_to(semester.pretty_name.upcase, edit_semester_path(semester.id), target: '_blank') 
              else
                semester.pretty_name.upcase 
              end %>
            </td></tr>
            <tr>
              <td>Asignatura</td>
              <td>Eval</td>
              <td>Horas</td>
              <td>H / S</td>
            </tr>
          </thead>
          <tbody>
            <% total_hours = 0
               semester.subjects.to_a.concat(semester.relevant_subjects).each do |subject| %>
              <tr>
                <td>
                  <%= if can?(:update, :subjects)
                    link_to(subject.name, edit_subject_path(subject.id), target: '_blank')
                  else
                    subject.name
                  end %>
                </td>
                <td><%= subject.evaluation_type.short_name if subject.evaluation_type %></td>
                <td><%= hours = if semester.practica?
                      subject.practical_hours
                    elsif subject.semester.anual?
                      case semester.name_slug
                        when '1'
                          subject.class_hours_1
                        when '2'
                          subject.class_hours_2
                      end
                    else
                      subject.class_hours_1
                    end
                %></td>
                <% total_hours += hours %>
                <td><%= hours.fdiv(semester.weeks).round(2) %></td>
              </tr>
            <% end %>
            <tr class="total"><td colspan="3">TOTAL DE SEMANAS</td><td><%= semester.weeks %></td></tr>
            <tr class="total"><td colspan="3">TOTAL DE HORAS</td><td><%= total_hours %></td></tr>
            <tr class="total"><td colspan="3">PROMEDIO DE HORAS SEMANALES</td><td><%= total_hours.fdiv(semester.weeks).round(2) %></td></tr>
            <tr class="total"><td colspan="3">TOTAL DE EXÁMENES</td><td><%= semester.subjects.to_a.count{|s|s.evaluation_type==ApplicationController::EVALUATION_TYPE_EXAMEN_FINAL} %></td></tr>
          </tbody>
        </table>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>

