<table class="table table-bordered table-condensed ppd">
  <thead>
    <tr>
      <th><%= t(:discipline).titleize %></th>
      <th><%= t(:subject).titleize %></th>
      <th>Total horas</th>
      <th>Horas clases</th>
      <th>Horas práticas</th>
      <th><%= t(:year).titleize %></th>
      <th><%= t(:semester).titleize %></th>
      <th>Currículo</th>
      <th>Evaluación</th>
      <th>Dictamen o Resolución</th>
    </tr>
  </thead>
  <tbody>
    <% @career.disciplines.each do |discipline| %>
        <% discipline.subjects.each do |subject| %>
          <tr>
            <td><%= discipline.name if subject == discipline.subjects.first %></td>
            <td><%= subject.name %></td>
            <td><%= subject.total_hours %></td>
            <td><%= subject.class_hours %></td>
            <td><%= subject.practical_hours %></td>
            <td><%= subject.semester.year.name %></td>
            <td><%= subject.semester.name %></td>
            <td><%= subject.curriculum_type.name %></td>
            <td><%= subject.evaluation_type.name if subject.evaluation_type %></td>
            <td><%= subject.dictum_or_resoluteness %></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>