<table class="table table-bordered table-condensed ppd">
  <thead>
  <tr>
    <th rowspan="2">No</th>
    <th rowspan="2">Disciplina y Asignatura</th>
    <th colspan="3">Cantidad de horas</th>
    <th colspan="2">Tipo de Evaluación</th>
    <th colspan="<%= @career.years.count %>">Distribución de las horas por años</th>
  </tr>
  <tr>
    <th>Total</th>
    <th>Clase</th>
    <th>Laboral</th>
    <th>EF</th>
    <th>TC</th>
    <% @career.years.each do |year| %>
        <th><%= year.name %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% CurriculumType.all.each do |ct| %>
      <tr class="separator">
        <td colspan="12"><%= ct.name %></td>
      </tr>
      <% @career.disciplines.each_with_index do |d, i| %>
          <% if d.subjects.any? { |s| s.curriculum_type == ct } %>
              <tr class="discipline">
                <td><%= i+1 %></td>
                <td><%= link_to(d.name, edit_discipline_path(d.id), target: '_blank') %></td>
                <td><%= d.subjects_by_curriculum_type(ct).sum{|s| s.total_hours} %></td>
                <td><%= d.subjects_by_curriculum_type(ct).sum { |s| s.class_hours_1 } %></td>
                <td><%= d.subjects_by_curriculum_type(ct).sum { |s| s.practical_hours } %></td>
                <td><%= d.subjects_by_curriculum_type(ct).count { |s| s.evaluation_type == ApplicationController::EVALUATION_TYPE_EXAMEN_FINAL } %></td>
                <td><%= d.subjects_by_curriculum_type(ct).count { |s| s.evaluation_type == ApplicationController::EVALUATION_TYPE_TRABAJO_CURSO } %></td>
                <% @career.years.each do |year| %>
                    <td><%= d.subjects_by_curriculum_type_and_year(ct,year).sum { |s| s.total_hours } %></td>
                <% end %>
              </tr>
              <% d.subjects.each_with_index do |s, j| %>
                  <% if s.curriculum_type == ct %>
                      <tr class="subject">
                        <td><%= i + 1 + (j+1).fdiv(100) %></td>
                        <td><%= link_to(s.name, edit_subject_path(s.id), target: '_blank') %></td>
                        <td><%= s.total_hours %></td>
                        <td><%= s.class_hours_1 %></td>
                        <td><%= s.practical_hours %></td>
                        <td><%= s.semester.year.name if s.evaluation_type == ApplicationController::EVALUATION_TYPE_EXAMEN_FINAL %></td>
                        <td><%= s.semester.year.name if s.evaluation_type == ApplicationController::EVALUATION_TYPE_TRABAJO_CURSO %></td>
                        <% @career.years.each do |year| %>
                            <td><%= s.total_hours if s.semester.year == year %></td>
                        <% end %>
                      </tr>
                  <% end %>
              <% end %>
          <% end %>
      <% end %>
      <tr class="total">
        <td rowspan="3">TOTAL</td>
        <td><%= "HORAS  DEL CURRÍCULO #{I18n.transliterate(ct.name).upcase} POR  FORMA  Y POR AÑO" %></td>
        <td><%= @career.subjects.sum { |s| s.curriculum_type==ct ? s.total_hours : 0 } %></td>
        <td><%= @career.subjects.sum { |s| s.curriculum_type==ct ? s.class_hours_1 : 0 } %></td>
        <td><%= @career.subjects.sum { |s| s.curriculum_type==ct ? s.practical_hours : 0 } %></td>
        <td></td>
        <td></td>
        <% @career.years.each do |year| %>
            <td><%= @career.disciplines.to_a.sum { |d| d.subjects.select { |s| s.curriculum_type==ct and s.semester.year==year }.to_a.sum { |s| s.total_hours } } %></td>
        <% end %>
      </tr>
      <tr class="total">
        <td><%= "EXÁMENES FINALES DEL CURRÍCULO #{I18n.transliterate(ct.name).upcase}" %></td>
        <td></td><td></td><td></td>
        <td><%= @career.disciplines.to_a.sum{|d| d.subjects.select { |s| s.curriculum_type==ct}.count{|s| s.evaluation_type == ApplicationController::EVALUATION_TYPE_EXAMEN_FINAL}  } %></td>
        <td></td>
        <% @career.years.count.times do %>
            <td></td>
        <% end %>
      </tr>
      <tr class="total">
        <td><%= "TRABAJOS DE CURSO DEL CURRÍCULO #{I18n.transliterate(ct.name).upcase}" %></td>
        <td></td><td></td><td></td><td></td>
        <td><%= @career.disciplines.to_a.sum{|d| d.subjects.select { |s| s.curriculum_type==ct}.count{|s| s.evaluation_type == ApplicationController::EVALUATION_TYPE_TRABAJO_CURSO}  } %></td>
        <% @career.years.count.times do %>
            <td></td>
        <% end %>
      </tr>
  <% end %>
  <tr class="separator">
    <td colspan="12">TOTALES</td>
  </tr>
  <tr class="total">
    <td rowspan="3">TOTAL</td>
    <td>HORAS DEL CURRÍCULO POR FORMA Y POR AÑO</td>
    <td><%= @career.disciplines.to_a.sum { |d| d.subjects.to_a.sum { |s| s.total_hours} } %></td>
    <td><%= @career.disciplines.to_a.sum { |d| d.subjects.to_a.sum { |s| s.class_hours_1} } %></td>
    <td><%= @career.disciplines.to_a.sum { |d| d.subjects.to_a.sum { |s| s.practical_hours} } %></td>
    <td></td>
    <td></td>
    <% @career.years.each do |year| %>
        <td><%= @career.disciplines.to_a.sum { |d| d.subjects.select { |s| s.semester.year==year }.to_a.sum { |s| s.total_hours } } %></td>
    <% end %>
  </tr>
  <tr class="total">
    <td>EXÁMENES FINALES DEL CURRÍCULO Y POR AÑO</td>
    <td></td><td></td><td></td>
    <td><%= @career.subjects.count{|s| s.evaluation_type == ApplicationController::EVALUATION_TYPE_EXAMEN_FINAL} %></td>
    <td></td>
    <% @career.years.count.times do %>
        <td></td>
    <% end %>
  </tr>
  <tr class="total">
    <td>TRABAJOS DE CURSO DEL CURRÍCULO Y POR AÑO</td>
    <td></td><td></td><td></td><td></td>
    <td><%= @career.subjects.count{|s| s.evaluation_type == ApplicationController::EVALUATION_TYPE_TRABAJO_CURSO} %></td>
    <% @career.years.count.times do %>
        <td></td>
    <% end %>
  </tr>

  <tr class="separator"><td colspan="12">ESTADÍSTICAS</td></tr>
  <tr class="total">
    <td></td><td colspan="2">ESTRUCTURA EN PORCIENTO</td><td></td>
    <td colspan="<%= @career.years.count + 2 %>">EVALUACIONES POR AÑO</td>
  </tr>
  <tr class="total">
    <td></td><td>CURRÍCULO BÁSICO</td>
    <td><%= (@career.subjects_by_curriculum_type(ApplicationController::CURRICULUM_TYPE_BASICO).sum(&:total_hours).fdiv(@career.subjects.sum(&:total_hours)) * 100).round(2) %> %</td>
    <td></td><td></td>
    <% @career.years.each do |year| %>
        <td><%= year.name %></td>
    <% end %>
    <td>Total</td>
  </tr>
  <tr class="total">
    <td></td><td>CURRÍCULO PROPIO</td>
    <td><%= (@career.subjects_by_curriculum_type(ApplicationController::CURRICULUM_TYPE_PROPIO).sum(&:total_hours).fdiv(@career.subjects.sum(&:total_hours)) * 100).round(2) %> %</td>
    <td></td><td>EF</td>
    <% @career.years.each do |year| %>
        <td><%= @career.subjects_by_evaluation_type_and_year(ApplicationController::EVALUATION_TYPE_EXAMEN_FINAL, year).count %></td>
    <% end %>
    <td><%= @career.subjects_by_evaluation_type(ApplicationController::EVALUATION_TYPE_EXAMEN_FINAL).count %></td>
  </tr>
  <tr class="total">
    <td></td><td>CURRÍCULO OPTATIVO ELECTIVO</td>
    <td><%= (@career.subjects_by_curriculum_type(ApplicationController::CURRICULUM_TYPE_OPTATIVO).sum(&:total_hours).fdiv(@career.subjects.sum(&:total_hours)) * 100).round(2) %> %</td>
    <td></td><td>TC</td>
    <% @career.years.each do |year| %>
        <td><%= @career.subjects_by_evaluation_type_and_year(ApplicationController::EVALUATION_TYPE_TRABAJO_CURSO, year).count %></td>
    <% end %>
    <td><%= @career.subjects_by_evaluation_type(ApplicationController::EVALUATION_TYPE_TRABAJO_CURSO).count %></td>
  </tr>
  <tr class="total">
    <td></td><td></td></td><td></td><td></td><td>Total</td>
    <% @career.years.each do |year| %>
        <td><%= @career.subjects_by_year(year).count{|s| s.evaluation_type} %></td>
    <% end %>
    <td><%= @career.subjects.count{|s| s.evaluation_type} %></td>
  </tr>
  </tbody>
</table>