<h1>Plan de Proceso Docente</h1>

<div class="control-group">
  <%= label_tag :career, t(:career).titleize, :class => 'control-label' %>
  <div class="controls">
    <%= select_tag :career, options_from_collection_for_select(Career.all, :id, :name), :class => 'text_field' %>
  </div>
</div>

<input type="hidden" id="career_id" value="<%= @career.id %>">

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#1" data-toggle="tab"><%= t(:presentation).titleize %></a></li>
    <li><a href="#2" data-toggle="tab">PPD</a></li>
    <li><a href="#3" data-toggle="tab">PPD Vivo</a></li>
    <li><a href="#3" data-toggle="tab">Malla Curricular</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="1">
      <dl class="dl-horizontal">
        <dt><strong><%= t(:faculty).titleize %>:</strong></dt>
        <dd><%= @career.faculty.name %></dd>
        <dt><strong><%= t(:career).titleize %>:</strong></dt>
        <dd><%= @career.name %></dd>
      </dl>
    </div>
    <div class="tab-pane" id="2">
      <p>Howdy, I'm in Section 2.</p>
    </div>
    <div class="tab-pane" id="3">
      <p>Howdy, I'm in Section 3.</p>
    </div>
    <div class="tab-pane" id="4">
      <p>Howdy, I'm in Section 4.</p>
    </div>
  </div>
</div>


