<%- model_class = PublicActivity::Activity -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= label_tag :user, t(:user).titleize, :class => 'control-label' %></strong></dt>
  <dd><%= select_tag :user, options_from_collection_for_select(User.all, :id, :email), include_blank: true, :class => 'text_field' %></dd>
  <dt><strong><%= label_tag :entity, t(:entity).titleize, :class => 'control-label' %></strong></dt>
  <dd><%= select_tag :entity, options_for_select([Career, CurriculumType, Discipline, EvaluationType, Faculty, Semester, StudyPlan, Subject, Year].collect{|e|e.to_s}, params['entity']), :class => 'text_field' %></dd>
</dl>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:trackable_id) %></th>
    <th><%= model_class.human_attribute_name(:trackable_type) %></th>
    <th><%= model_class.human_attribute_name(:owner_id) %></th>
    <th><%= model_class.human_attribute_name(:owner_type) %></th>
    <th><%= model_class.human_attribute_name(:key) %></th>
    <th><%= model_class.human_attribute_name(:parameters) %></th>
    <th><%= model_class.human_attribute_name(:recipient_id) %></th>
    <th><%= model_class.human_attribute_name(:recipient_type) %></th>
  </tr>
  </thead>
  <tbody>
  <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.id %></td>
        <td><%= activity.trackable_id %>
          <% if activity.trackable_type.constantize.find(activity.trackable_id).respond_to?(:name) %>
              <small><%= " (#{activity.trackable_type.constantize.find(activity.trackable_id).name})" %></small>
          <% end %>
        </td>
        <td><%= activity.trackable_type %></td>
        <td><%= activity.owner_id %><small><%= " (#{User.find(activity.owner_id).email})" if activity.owner_type == 'User' %></small></td>
        <td><%= activity.owner_type %></td>
        <td><%= activity.key %></td>
        <td><%= activity.parameters %></td>
        <td><%= activity.recipient_id %></td>
        <td><%= activity.recipient_type %></td>
      </tr>
  <% end %>
  </tbody>
</table>
