<%= form_for @p1, :html => { :class => "form-horizontal p1" } do |f| %>

    <% if @p1.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@p1.errors.count, "error") %> prohibited this p1 from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @p1.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :subject_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject_id, :class => 'form-control' %>
    </div>
    <%= error_span(@p1[:subject_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :docent_week_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :docent_week_id, :class => 'form-control' %>
    </div>
    <%= error_span(@p1[:docent_week_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :turn_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :turn_type_id, :class => 'form-control' %>
    </div>
    <%= error_span(@p1[:turn_type_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@p1[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :number, :class => 'form-control' %>
    </div>
    <%= error_span(@p1[:number]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            schedule_p1s_path, :class => 'btn btn-default' %>

<% end %>
