<%- model_class = Schedule::P1 -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:subject_id) %></th>
      <th><%= model_class.human_attribute_name(:docent_week_id) %></th>
      <th><%= model_class.human_attribute_name(:turn_type_id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @p1s.each do |p1| %>
      <tr>
        <td><%= link_to p1.id, schedule_p1_path(p1) %></td>
        <td><%= p1.subject_id %></td>
        <td><%= p1.docent_week_id %></td>
        <td><%= p1.turn_type_id %></td>
        <td><%= p1.name %></td>
        <td><%= p1.number %></td>
        <td><%=l p1.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_schedule_p1_path(p1), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      schedule_p1_path(p1),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_schedule_p1_path,
            :class => 'btn btn-primary' %>
