<% @infos.each do |info| %>
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">
          <%= link_to info_path(info) do image_tag info.image.url, width: 150 end %>
        </div>  
        <div class="col-md-10">
          <h3><%= link_to info_path(info) do info.title end %></h3>
          <p>por: <%= info.user.username %></p>
          <p><%= raw info.description.truncate(350) %><%= link_to('leer más', info_path(info)) if info.description.length > 350 %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br>

<% if can? :create, @info %>
  <%= link_to 'Nueva Noticia', new_info_path, :class => 'btn btn-mini btn-primary' %>
<% end %>  
