<p id="notice"><%= notice %></p>

<%= image_tag @info.image.url(:medium) unless @info.image_file_name.nil? %>

<h3><%= @info.title %></h3>

<p>
<%= @info.description %>
</p>

<p>
  <strong>Por: <%= @info.user.username %></strong>
</p>

<%= link_to('Edit', edit_info_path(@info)) if can? :update, @info %> |
<%= link_to 'Back', infos_path %>
